       body {
            margin:0;
            padding:0;
            font-family:Ubuntu;
      }
        /*=======================
            navbar section 
        ========================*/
		
		nav {
            background-color:rgb(43, 41, 41);
            font-size: 16px;
			color:#fcfcfc;
            padding-bottom:20px;
            padding-top: 20px;
            margin-bottom: 80px; 
        }

        .navbar-brand{
            font-size:30px;

        }
        .navigation ul img {
             
            margin-bottom: 5px
        }

       /*=======================
            slide section 
        ========================*/
        .slide img {
            height: 550px;
            width: 100%;
        }
        
        /*=======================
            adds section
        ========================*/
        .adds h1 {
            color:#006ab7;
            margin-top: 40px;
        }
        
        .adds p {
            font-size: 25px;
        }
        
        /*=======================
            featers section
        ========================*/

        .features{
            background:#d1b501;
            padding-top: 30px;
            padding-bottom: 20px;
            margin-bottom: 20px;

        }

        .features .box h2  {
            color:#fff;

        }

        .features .box p  {
            color:#2a2400;
            font-size: 30px;
            font-weight: bolder;

        }


        /*=======================
            top des recherches  section
        ========================*/
        .top h1 {
            color: #006ab7;
            margin-bottom: 20px;

        }







    
		.content
		{
			text-align:center;
			padding:1px;
		}
		.up-footer
		{
			background:#a117e6;
			color:#FFF;
			text-align:center;
			padding:10px 0
		}

		#telephone .hhh
		 {
			font-size: 18px;
			color:rgb(41, 39, 37);
			margin-left: 4px;
		}

		ul {list-style:none;padding:0;margin:0}

        ul li {display:inline-block;padding:10px}
        


        /*=======================
          footer  section
        ========================*/

        .footer{
            background:#3d3d3d
        }


      
        /*=======================
          footer-bootum  section
        ========================*/ 
        
        .bottom-foter{
            background: #373737;

        }